<template>
    <v-content class="grey lighten-5">
        <v-row dense>
            <app-stock v-for="stock in stocks" :stock="stock" v-bind:key="stock.id"></app-stock>
        </v-row>
    </v-content>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Stock from './Stock.vue';

    export default {
        computed: {
            ...mapGetters({
                stocks: 'stockPortfolio'
            })
        },
        components: {
            appStock: Stock
        }
    }
</script>