<template>
    <v-card class="my-5 mx-auto" max-width="225" outlined>
        <v-list-item>
            <v-list-item-content>
                <div class="overline mb-4">Stock:</div>
                <v-list-item-title class="headline mb-1">{{ stock.name }}</v-list-item-title>
                <v-list-item-subtitle>Price: {{ stock.price }}</v-list-item-subtitle>
                <v-list-item-subtitle>Quantity: {{ stock.quantity }}</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-form>
            <v-container>
                    <v-text-field
                        v-model="quantity"
                        placeholder="Quantity"
                        type="number"
                        label="Quantity"
                        required
                    ></v-text-field>
            </v-container>
        </v-form>
        <v-card-actions>
            <v-btn text
                @click="sellStock"
                :disabled="insufficientQuantity || quantity <= 0 || !Number.isInteger(parseInt(quantity))">
                {{ insufficientQuantity ? 'Not enough in stock' : 'Sell' }}</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    import { mapActions } from 'vuex';

    export default {
        props: ['stock'],
        data() {
            return {
                quantity: null
            }
        },
        computed: {
            insufficientQuantity() {
                return this.quantity > this.stock.quantity;
            }
        },
        methods: {
            ...mapActions({
                placeSellOrder: 'sellStock'
            }),
            sellStock() {
                const order = {
                    stockId: this.stock.id,
                    stockPrice: this.stock.price,
                    quantity: this.quantity
                };
                this.placeSellOrder(order);
                this.quantity = null;
            }
        }
    }
</script>