<template>
    <v-content class="grey lighten-5">
        <v-row dense class="justify-center">
            <app-stock v-for="stock in stocks" v-bind:key="stock.id" :stock="stock"></app-stock>
        </v-row>
    </v-content>
</template>

<script>
    import Stock from './Stock.vue';

    export default {
        components: {
            appStock: Stock
        },
        computed: {
            stocks() {
                return this.$store.getters.stocks
            }
        }
    }
</script>