<template>
    <v-card class="ma-5" width="225" outlined>
        <v-list-item>
            <v-list-item-content>
                <div class="overline mb-4">Stock:</div>
                <v-list-item-title class="headline mb-1">{{ stock.name }}</v-list-item-title>
                <v-list-item-subtitle>Price: {{ stock.price }}</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>
        <v-form>
            <v-container>
                    <v-text-field
                        v-model="quantity"
                        placeholder="Quantity"
                        type="number"
                        label="Quantity"
                        required
                    ></v-text-field>
            </v-container>
        </v-form>
        <v-card-actions>
            <v-btn text
                @click="buyStock"
                :disabled="insufficientFunds || quantity <= 0 || !Number.isInteger(parseInt(quantity))">
                {{ insufficientFunds ? 'Insufficient Funds' : 'Buy' }}</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
    export default {
        props: ['stock'],
        data() {
            return {
                quantity: null
            }
        },
        computed: {
            funds() {
                return this.$store.getters.funds
            },
            insufficientFunds() {
                return this.quantity * this.stock.price > this.funds;
            }
        },
        methods: {
            buyStock() {
                const order = {
                    stockId: this.stock.id,
                    stockPrice: this.stock.price,
                    quantity: this.quantity
                };
                this.$store.dispatch('buyStock', order);
                this.quantity = null;
            }
        }
    }
</script>