<template>
	<v-footer app dark>
        <v-spacer></v-spacer>
        <v-btn @click="endDay">
            End Day
        </v-btn>
    </v-footer>
</template>

<script>
	import { mapActions } from 'vuex';

	export default {
		methods: {
			...mapActions({
				randomizeStocks: 'randomizeStocks'
			}),
			endDay() {
                this.randomizeStocks();
            }
		}
	}
</script>