<template>
	<nav>
		<v-navigation-drawer v-model="drawer" app dark>
			<v-list dense>
				<v-list-item to="/">
					<v-list-item-action>
						<v-icon>mdi-home</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Home</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-list-item to="/portfolio">
					<v-list-item-action>
						<v-icon>mdi-contact-mail</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Portfolio</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-list-item to="/stocks">
					<v-list-item-action>
						<v-icon>mdi-card-bulleted-outline</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Stocks</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list>
			<hr>
			<v-list dense>
				<v-list-item @click="loadData">
					<v-list-item-action>
						<v-icon>mdi-cloud-download-outline</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Load</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-alert v-if="onLoad"
					dense
					outlined
					type="error"
					>
					<div>
						Are you sure?
					</div>
					<div>
						<v-btn class="mx-3" small @click="onLoadConfirm">Yes</v-btn>
						<v-btn class="mx-3" small @click="onLoadCancel">No</v-btn>
					</div>
				</v-alert>
				<v-list-item @click="saveData">
					<v-list-item-action>
						<v-icon>mdi-cloud-upload-outline</v-icon>
					</v-list-item-action>
					<v-list-item-content>
						<v-list-item-title>Save</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
				<v-alert v-if="onSave"
					dense
					outlined
					type="warning"
					>
					<div>
						Are you sure?
					</div>
					<div>
						<v-btn class="mx-3" small @click="onSaveConfirm">Yes</v-btn>
						<v-btn class="mx-3" small @click="onSaveCancel">No</v-btn>
					</div>
				</v-alert>
			</v-list>
		</v-navigation-drawer>
		<v-app-bar app dark>
			<v-app-bar-nav-icon @click.stop="drawer = !drawer" />
			<v-toolbar-title>Stock-Trader</v-toolbar-title>
			<v-spacer></v-spacer>
			<h5>Funds: {{ funds | currency }}</h5>
		</v-app-bar>
	</nav>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex';

	export default {
		data() {
			return {
				drawer: null,
				onLoad: false,
				onSave: false
			}
		},
		computed: {
			...mapGetters([
				'funds'
			])
		},
		methods: {
			...mapActions({
				randomizeStocks: 'randomizeStocks',
				fetchData: 'loadData'
			}),
			endDay() {
				this.randomizeStocks();
			},
			saveData() {
				this.onSave = true;
			},
			onSaveCancel() {
				this.onSave = false;
			},
			onSaveConfirm() {
				this.onSave = false;
				const data = {
					funds: this.$store.getters.funds,
					stockPortfolio : this.$store.getters.stockPortfolio,
					stocks: this.$store.getters.stocks
				};
				this.$http.put('data.json', data);
			},
			loadData() {
				this.onLoad = true;
			},
			onLoadCancel() {
				this.onLoad = false;
			},
			onLoadConfirm() {
				this.onLoad = false;
				this.fetchData();
			}
		}
	}

</script>