<template>
    <v-content>
        <v-container>
            <h1>Trade or view you portfolio</h1>
            <p>You may save & load your data</p>
            <p>Click on 'End Day' to begin a new day!</p>
            <hr>
            <h3>Your funds: {{ funds | currency }}</h3>
        </v-container>
    </v-content>
</template>

<script>
    export default {
        computed: {
            funds() {
                return this.$store.getters.funds
            }
        }
    }
</script>