<template>
  <v-app>
    <app-header></app-header>
    <router-view></router-view>
    <app-footer></app-footer>
  </v-app>
</template>

<script>
  import Header from './components/Header.vue';
  import Footer from './components/Footer.vue';
  
  export default {
    components: {
        appHeader: Header,
        appFooter: Footer
    },
    created() {
      this.$store.dispatch('initStocks');
    }
  }
</script>